/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
  color: #fff;
}

/* Login Container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #001231;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-size: 21px;
}

/* Login Form */
.login-form {
  margin-right: 31%;
  height: 80%;
  padding: 20px;
  text-align: left;
  width: 350px;
  border-radius: 10px;
  margin-top: 13%;
  margin-right: 40%;
}

.login-form h2 {
  margin: 0;
  margin-bottom: 7px;
  width: 100%;
  font-weight: 600;
  font-size: 27px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.login-form p {
  color: #07a5f5;
  margin-bottom: 30px;
  margin-top: 5px;
  width: 110%;
  font-weight: 600;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Input Group */
.login-input-group {
  margin: 20px 0;
}

.login-input-group label {
  display: block;
  margin-bottom: 11px;
  margin-top: 4px;
  font-weight: bold;
  color: white;
  font-weight: 700;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.login-input-icon {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  padding-left: 17px;
  width: 110%;
  height: 43px;
  background-color: #5b6169;
  border: none;
}

.login-input-icon input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  height: 100%;
  padding: 9px 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding-left: 40px;
}

.login-input-icon .login-input::placeholder {
  color: #fff;
}

/* Customizing the profile icon */
.login-input-icon .login-profile-icon {
  color: skyblue;
}

/* Customizing the lock icon */
.login-input-icon .login-lock-icon {
  color: rgb(241, 167, 29);
  position: relative;
}

.login-input-icon .login-lock-icon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
}

.login-forgot-password {
  float: right;
  cursor: pointer;
  color: #fff !important;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: -51px;
  margin-top: 11px !important;
  font-weight: 700;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    margin-top: 0;
}

/* Login Button */
.login-button {
  background-color: #0490ee;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 113%;
  height: 53px;
  margin-left: 2px;
  margin-top: -15px;
  text-transform: uppercase !important;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}

.login-button:hover {
  background-color: #005f8b;
}

/* Background Image */
.login-background-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 33%;
  background-color: #fff;
  padding-top: 14%;
  margin-right: 0.1%;
}

.login-background-image img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
}

@media (max-width: 700px) {
  .login-background-image img {
    margin-top: 20%;
  }
}
/* login-error-design  */
.login-error-design{
  margin: 0 !important;
  margin-top: 5px !important;
  padding: 0 !important;
  color: rgb(255, 20, 20) !important;
}
@media(max-width:900px){
  .login-form h2 {
    font-size: 21px;
  }
  .login-form p {
    font-size: 13px;
  }
  .login-input-group label {
    font-size: 13px;
  }
  .login-input-icon input {
    font-size: 13px;
  }
  .login-forgot-password {
    font-size: 13px;
  }
  .login-button {
    font-size: 15px;
  }

}
