.add-test-heading {
  margin-top: 30px;
  text-align: left;
  margin-bottom: 20px;
}

.add-test-options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 30px;
}

.form-active {
  background-color: #007bff;
  color: #fff;
  cursor: default;
}

.test-form-row {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 20px;
}

.test-form-group {
  flex-basis: calc(50% - 10px);
  margin-bottom: 10px;
}
.test-form-group select {
  width: 341px !important;
  height: 50px;
}
.test-form-group input {
  width: 330px !important;
  height: 37px;
}

/* Add spacing between input fields in the same row */
.test-form-group .test-input-type-text,
.test-form-group input[type="password"],
.test-form-group select {
  margin-right: 20px; /* Adjust the margin-right to create a gap between input fields */
}
.test-input-type-text{
  width: 230px;
  height: 33px;
}
.test-input-type-text{
  width: 230px;
  height: 39px;
}
.test-input-label {
  display: block;
  margin-bottom: 5px;
  text-align: left; /* Align .test-input-labels to the left */
}

/* Add Another Teacher */
.add-another-test {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4%;
  margin-left: 30px;
}
.add-another-test-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 20px;
}
.add-another-text-icon-test {
  font-size: 25px;
  margin-top: 6px;
}
@media (min-width: 850px) and (max-width: 1000px) {
  .test-form-group input,
  .test-form-group select {
    width: 85% !important; /* Make the input fields full width */
    margin-right: 0; /* Remove the margin-right for input fields */
    height: 40% !important;
    margin-top: -15px;
  }
  .test-form-group select {
    width: 90% !important;
    height: 40% !important;
    margin-right: 30px;
    margin-top: -15px;
  }
  .test-form-row {
    flex-direction: row; /* Change the direction to column for smaller screens */
    gap: 20px; /* Adjust the gap between form rows for better spacing */
    /* width: 150px !important; */
  }
  .add-teachers-close-button {
    /* display: flex; */
  }
}
.add-test-button{
  height: 36px;
}
.add-tests-button{
  background-color: transparent;
  border: none;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 5px;
  font-size: 16px;
  cursor: pointer;
}