    .circular-progress-chart {
    text-align: center;
    margin: 20px;
    }

    .chart-heading {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff ;
    }

    .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    }

    .status-text {
    font-size: 20px;
    margin-bottom: 10px;
    }

    .result-text {
    font-size: 18px;
    color: #333;
    }

    /* Custom styles for the circle container */
    .react-circle {
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    /* Center the percentage text */
    .react-circle .react-circle-percent {
    top: 50%;
    transform: translateY(-50%);
    }
