.progress-passed {
  background-color: #00CEFF !important;
}
.progress-bar-container {
  display: flex;
  justify-content: space-between;
}
.progress-bar {
  flex: 1;
  margin: 10px;
}


.apexcharts-xaxis-label,
.apexcharts-yaxis-label {
  fill: #fff ;
}
.student-progress-chart{
  
  margin-top: 50px;
  margin-right: 45px;
}